glob2==0.7
Jinja2==3.1.2
matplotlib==3.6.2
networkx==2.8.8
num2words==0.5.12
numpy==1.23.5
pandas==1.5.2
Pillow==9.3.0
pint==0.20.1
pylatex==1.4.1
schemdraw==0.15
scipy==1.9.3
seaborn==0.12.1
sympy==1.11.1
uncertainties==3.1.7
openpyxl==3.0.10
PythonTurtle==0.3.2
ipyturtle3==0.1.4
googletrans==3.1.0a0
