matplotlib==3.8.0
networkx==3.2
num2words==0.5.14
numpy==1.24.4
pandas==2.1.1
Pillow==10.1.0
Pint==0.25.3
PyLaTeX==1.4.2
schemdraw==0.22
scipy==1.11.3
seaborn==0.13.0
sympy==1.12
uncertainties==3.2.3
openpyxl==3.1.2
PythonTurtle==0.3.2
ipyturtle3==0.1.4
googletrans==3.1.0a0